h1, .section-title {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

header{
    background-color: rgba(128, 128, 128, 0.849);
}

#header .nav .nav-link.active {
    color: #fff;
    background-color: black;
    font-weight: bold;
}
.nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-link,
.bi {
    color: #fff;
}

.container img{
    border-radius: 5px;
}

body{
    background-color: rgba(173, 173, 173, 0.993);
}

#finance1, #finance2, #finance3{
    height: 360px;
}

.nav .nav-link-active, .nav .nav-link.active,.btn {
    color: #fff;
    background-color: black;
    font-weight: bold;
}
.social-links{
    list-style: none;
    display: flex;
}
.social-links li{
    padding: 5px;
}
